beautifulsoup4==4.12.3
contourpy==1.2.0
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
fonttools==4.49.0
ghostscript==0.7
google==3.0.0
kiwisolver==1.4.5
matplotlib==3.8.3
nibabel==5.2.1
numpy==1.26.4
packaging==23.2
pillow==10.2.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
scipy==1.13.0
SimpleITK==2.3.1
six==1.16.0
soupsieve==2.5
spicy==0.16.0
tk==0.1.0
